body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
}

.content {
    margin-top: 20px;
    padding: 20px;
    background-color: lightgray;
    display: none;
    border-radius: 5px;
}

#timer {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

#navigate-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#navigate-btn:hover {
    background-color: #0056b3;
}
